<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
-->
<h1><%= @post.title %></h1>
<%= @post.text %>
<P>
<%= link_to "返回",posts_path %>
|
<%= link_to "编辑",edit_post_path(@post) %>
|
<%= link_to "删除",@post,:method=>:delete,data:{confirm:"确认删除？"} %>
</p>

<h2>评论</h2>
<% @post.comments.each do |comment| %>
<p><%= comment.text %></p>
<p><%= time_ago_in_words comment.created_at %>ago.</p>
<p><%= link_to "删除",[@post,comment], :method => :delete,data:{confirm:"确认删除？"} %></p>
<% end %>

<%= form_for [@post,@post.comments.build] do |f| %>
<p><%= f.text_area :text, :size => '66x6' %></p>
<p><%= f.submit "提交评论" %></p>
<% end %>